
@import url("../../css/fonts.css");

.meditations_select_class{
    display: block;
    max-width:100%;
    background-color: rgb(255, 255, 255);

    border: 1px solid black;
    font-family: 'Gilroy Light';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    cursor: pointer;
    padding: 6px;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}
.optionSelect{
    padding: 5px;
    display: block;
    height: 10px;
}









