@import url("../css/fonts.css");
.footer {
  font-family: "Gilroy Light";
  width: 100%;
  position: relative;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #759B80;
}
.footer a {
  color: white;
}
.footer .footer-content {
  max-width: 1432px;
  min-height: 300px;
  color: white;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 100px;
  position: relative;
  margin-bottom: 50px;
  gap: 10px;
}
.footer .footer-content h2 {
  font-family: "Gilroy Bold";
  font-size: 24px;
  color: #FBD784;
}
.footer .footer-content ul {
  margin-top: 5px;
}
.footer .footer-content ul li {
  margin: 30px;
  margin-left: 0px;
}
.footer .footer-content ul li:hover {
  transform: scale(1.1);
  transition: 1s;
}
.footer .footer-content .footer-content__more {
  grid-column: 4/5;
}
.footer .footer-content .footer-content__copyright {
  grid-column: span 2;
}
.footer .footer-content .footer-content__copyright span {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  font-size: 18px;
}
.footer .footer-content .footer-content__copyright .copyright__text {
  display: block;
  bottom: 10px;
  position: absolute;
  opacity: 0.5;
}
.footer .footer-content .footer-content__copyright .copyright__title {
  display: block;
  margin-top: 20px;
}
.footer .footer-content .footer-content__links {
  grid-column: 5/6;
}

@media screen and (max-width: 810px) {
  .footer {
    background-color: #759B80;
  }
  .footer .footer-content {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
  }
  .footer .footer-content .footer-content__copyright {
    grid-column: span 2;
    grid-row: 1/2;
  }
  .footer .footer-content .footer-content__copyright .copyright__text {
    top: 0;
    left: 0;
    padding: 10px;
  }
  .footer .footer-content .footer-content__more {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .footer .footer-content .footer-content__links {
    grid-column: 2/3;
    grid-row: 2/3;
  }
}
@media screen and (max-width: 450px) {
  .footer {
    background-color: #759B80;
  }
  .footer .footer-content {
    padding: 70px;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
  .footer .footer-content .footer-content__copyright .copyright__title {
    padding: 5px;
  }
  .footer .footer-content .footer-content__copyright .LogotypeStyles_header_logo__cPT8l {
    margin-top: 40px;
  }
  .footer .footer-content .footer-content__more {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .footer .footer-content .footer-content__links {
    grid-column: 1/2;
    grid-row: 3/4;
  }
}