@import url("../css/resetFile.css");
@import url("../css/fonts.css");
.page-wrapper {
  height: 100vh;
  z-index: 1000;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.page-wrapper .page-wrapper__content {
  max-width: 1462px;
  min-height: 520px;
  position: relative;
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template: 1fr/repeat(2, 1fr);
}
.page-wrapper .page-wrapper__content .page-wrapper-content__numberImage {
  width: 260px;
  height: 260px;
  position: absolute;
  top: 0;
}
.page-wrapper .page-wrapper__content .page-wrapper-content__text {
  max-width: 700px;
  padding: 50px;
}
.page-wrapper .page-wrapper__content .page-wrapper-content__text .text__header_top {
  background-image: url("../img/Rectangle 2.1.png");
  background-position: left center;
  background-repeat: no-repeat;
  font-size: 18px;
  padding-left: 85px;
  color: #FBD784;
  font-family: "Gilroy Bold";
  text-transform: uppercase;
  line-height: 22px;
  font-size: 16px;
  letter-spacing: 6px;
}
.page-wrapper .page-wrapper__content .page-wrapper-content__text .text__header_title {
  font-family: "Chronicle Display Semibold";
  font-style: normal;
  font-size: 64px;
  line-height: 77px;
  color: #FFFFFF;
}
.page-wrapper .page-wrapper__content .page-wrapper-content__text .text__header_description {
  font-size: 18px;
  line-height: 32px;
  font-family: "Gilroy Light";
  color: white;
}
.page-wrapper .page-wrapper__content .page-wrapper-content__text .text__header_readMore {
  background-image: url("../img/arrowLeft.png");
  background-position: right center;
  background-repeat: no-repeat;
  font-size: 18px;
  padding-right: 35px;
  color: #FBD784;
  font-family: "Gilroy Bold";
}

.page-wrapper-content__image {
  width: 90%;
  height: 100%;
  position: relative;
  background-size: contain;
}

.page-wrapper-content__image.first {
  background: url("../img/contentImages/2.png") no-repeat center center;
}

.page-wrapper-content__image.second {
  background: url("../img/contentImages/2m.jpg") no-repeat center center;
}

.page-wrapper-content__image.third {
  background: url("../img/contentImages/3.png") no-repeat center center;
}

.page-wrapper-content__numberImage.first {
  background: url("../img/icons/1.png") no-repeat center center;
}

.page-wrapper-content__numberImage.second {
  background: url("../img/icons/2.png") no-repeat center center;
}

.page-wrapper-content__numberImage.third {
  background: url("../img/icons/3.png") no-repeat center center;
}

.page-wrapper-content__image {
  margin-left: 30px;
}

@media screen and (max-width: 810px) {
  .page-wrapper .page-wrapper__content {
    display: flex;
    flex-direction: column;
  }
  .page-wrapper .page-wrapper__content .page-wrapper-content__image {
    position: absolute;
    left: 0;
    width: 80%;
    height: 80%;
    z-index: 10;
    filter: blur(4px) brightness(0.9) drop-shadow(100px 100px rgba(0, 0, 0, 0.068));
  }
  .page-wrapper .page-wrapper__content .page-wrapper-content__numberImage {
    filter: blur(1px) brightness(0.9) drop-shadow(100px 100px rgba(0, 0, 0, 0.068));
  }
  .page-wrapper .page-wrapper__content .textContentPage {
    z-index: 10000;
  }
  .page-wrapper .page-wrapper__content .textContentPage .text__header_top {
    color: #ac9445;
  }
  .page-wrapper .page-wrapper__content .textContentPage .text__header_title {
    font-size: 50px;
  }
  .page-wrapper .page-wrapper__content .textContentPage .text__header_description {
    font-size: 16px;
  }
}
@media screen and (max-height: 620px) {
  .main-wrapper .first_page .main__firstPage .firstPage__title .firstPage_title_descriprion {
    font-size: 46px;
  }
  .page-wrapper .page-wrapper__content {
    display: flex;
    flex-direction: column;
  }
  .page-wrapper .page-wrapper__content .page-wrapper-content__image {
    position: absolute;
    left: 0;
    width: 80%;
    height: 80%;
    z-index: 10;
    filter: blur(4px) brightness(0.9) drop-shadow(100px 100px rgba(0, 0, 0, 0.068));
  }
  .page-wrapper .page-wrapper__content .page-wrapper-content__numberImage {
    filter: blur(1px) brightness(0.9) drop-shadow(100px 100px rgba(0, 0, 0, 0.068));
  }
  .page-wrapper .page-wrapper__content .textContentPage {
    z-index: 10000;
  }
  .page-wrapper .page-wrapper__content .textContentPage .text__header_top {
    color: #ac9445;
  }
  .page-wrapper .page-wrapper__content .textContentPage .text__header_title {
    font-size: 50px;
  }
  .page-wrapper .page-wrapper__content .textContentPage .text__header_description {
    font-size: 16px;
  }
}
@media screen and (max-height: 450px) {
  .page-wrapper .page-wrapper__content .page-wrapper-content__image {
    width: 70%;
    height: 70%;
    margin-top: 15%;
  }
}